.remark {
  text-align: justify;
}

.settingButton {
  position: absolute;
  right: 15px;
  width: 75%;
  font-size: 12px;
}

.settingInfo {
  line-height: 40px;
}

.status-ok {
  color: #2ECC71
}

.status-failed {
  color: #E74C3C
}

.valueWithoutInput {
  height: 42px;
  padding: 8px 12px 8px 14px;
  margin: 0;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 26px;
}
