<!DOCTYPE html>
<html ng-app="adminApp">
<head lang="en">
    <title>ThoughtWorks WeChat Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../../vendor/styles/bootstrap.min.css" rel="stylesheet">
    <link href="../../vendor/styles/flat-ui.min.css" rel="stylesheet">
    <link href="../styles/main.css" rel="stylesheet">

    <link rel="shortcut icon" href="../imgs/favicon.ico">
    <link rel="icon" href="../imgs/favicon32x32.png" sizes="32x32">
</head>
<body>
<div class="col-xs-12" ng-controller="AppCtrl">
    <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only" translate="index.navigator.menu"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="../imgs/tw-logo-white.png" height="25px"/>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown" ng-if="isLoggedIn()">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        {{'index.navigator.dashboard' | translate}}<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a herf="/dashboard" translate="index.navigator.dashboard.general"></a></li>
                        <li class="divider"></li>
                        <li><a herf="#" translate="index.navigator.dashboard.user"></a></li>
                        <li><a herf="#" translate="index.navigator.dashboard.message"></a></li>
                        <li><a herf="#" translate="index.navigator.dashboard.api"></a></li>
                    </ul>
                </li>
                <li class="dropdown" ng-if="isLoggedIn()">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        {{'index.navigator.basicSetting' | translate}}<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" translate="index.navigator.basicSetting.wechat"></a></li>
                        <li class="divider"></li>
                        <li><a href="#" translate="index.navigator.basicSetting.conversation"></a></li>
                        <li><a href="#" translate="index.navigator.basicSetting.menu"></a></li>
                        <li><a href="#" translate="index.navigator.basicSetting.user"></a></li>
                    </ul>
                </li>
                <li><a href="#fakelink" translate="index.navigator.about"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!isLoggedIn()">
                    <div class="navbar-form navbar-right">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" id="username" type="text" ng-model="username"
                                       bind-key="signIn(username, password)" key="13" maxlength="32"
                                       placeholder="{{'index.navigator.signIn.username' | translate}}">
                            </div>
                            <div class="input-group">
                                <input class="form-control" id="password" type="password" ng-model="password"
                                       bind-key="signIn(username, password)" key="13" maxlength="32"
                                       placeholder="{{'index.navigator.signIn.password' | translate}}">
                            </div>
                            <button type="submit" class="btn disabled" ng-click="signIn(username, password)"
                                    ng-class="{disabled: !username || status.logging}" id="loginSubmit"
                                    translate="index.navigator.signIn.submit"></button>
                        </div>
                    </div>
                </li>
                <li class="dropdown" ng-if="isLoggedIn()">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        {{getLoginUsername()}}<b class="caret"></b>
                    </a>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu">
                        <li><a href="#" translate="index.navigator.user.bind"></a></li>
                        <li class="divider"></li>
                        <li><a href="#" ng-click="signOut()" translate="index.navigator.user.signOut"></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div role="main" class="container">
        <div ng-view></div>

    </div>
</div>

<footer class="footer">
    <div class="container">
        <p>Produce by <a href="http://www.thoughtworks.com/" target="_blank">©2015 ThoughtWorks Inc.</a></p>

        <p>Code licensed under the The <a href="https://github.com/angular/angular.js/blob/master/LICENSE"
                                          target="_blank">The MIT License</a>.</p>
    </div>
</footer>

<div id="scripts">
    <script src="../../vendor/scripts/jquery.min.js"></script>
    <script src="../../vendor/scripts/flat-ui.min.js"></script>
    <script src="../../vendor/scripts/underscore-min.js"></script>
    <script src="../../vendor/scripts/bootstrap-notify.min.js"></script>

    <script src="../../vendor/scripts/angular.min.js"></script>
    <script src="../../vendor/scripts/angular-route.min.js"></script>
    <script src="../../vendor/scripts/angular-translate.min.js"></script>
    <script src="../../vendor/scripts/angular-translate-loader-static-files.min.js"></script>

    <script src="../scripts/main.js"></script>
</div>
</body>
</html>