<div class="col-xs-12 row">
    <p class="lead" translate="basicSettings.systemMessage.title"></p>
</div>
<div class="col-xs-12 row">
    <div class="row">
        <div class="col-xs-4">
            <div class="select-list">
                <div class="title">
                    <p class="title-field" translate="basicSettings.systemMessage.messageType.title"></p>
                </div>
                <ul>
                    <li ng-class="{'select-message': modifyingMessage === 'Subscribe'}"
                        ng-click="modifyMessage('Subscribe')">
                        <div class="message-icon fui-user"></div>
                        <div class="message-content">
                            <h4 class="message-name"
                                translate="basicSettings.systemMessage.messageType.subscribe.title"></h4>
                            <span translate="basicSettings.systemMessage.messageType.subscribe.remark"></span>
                        </div>
                    </li>
                    <li ng-class="{'select-message': modifyingMessage === 'Resubscribe'}"
                        ng-click="modifyMessage('Resubscribe')">
                        <div class="message-icon fui-user"></div>
                        <div class="message-content">
                            <h4 class="message-name"
                                translate="basicSettings.systemMessage.messageType.resubscribe.title"></h4>
                            <span translate="basicSettings.systemMessage.messageType.resubscribe.remark"></span>
                        </div>
                    </li>
                    <li ng-class="{'select-message': modifyingMessage === 'Default'}"
                        ng-click="modifyMessage('Default')">
                        <div class="message-icon fui-user"></div>
                        <div class="message-content">
                            <h4 class="message-name"
                                translate="basicSettings.systemMessage.messageType.default.title"></h4>
                            <span translate="basicSettings.systemMessage.messageType.default.remark"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-8">

        </div>
    </div>
</div>