<div class="col-xs-12">
    <div class="row">
        <p class="lead" translate="basicSettings.weChat.title"></p>
    </div>
    <div class="row">
        <p><strong translate="basicSettings.weChat.developerId"></strong></p>

        <p translate="basicSettings.weChat.developerId.description"></p>

        <div class="form-group">
            <input type="text" class="form-control"
                   placeholder="{{'basicSettings.weChat.developerId.appId' | translate}}">
            <input type="text" class="form-control"
                   placeholder="{{'basicSettings.weChat.developerId.appSecret' | translate}}">
        </div>

        <p>
            <small>remark</small>
        </p>
    </div>
    <div class="row">
        <p translate="basicSettings.weChat.server"></p>
    </div>
</div>
