<div class="col-xs-12">
    <div class="row">
        <p class="lead" translate="basicSettings.weChat.title"></p>
    </div>
    <div class="row">
        <p><strong translate="basicSettings.weChat.developerId"></strong></p>

        <p translate="basicSettings.weChat.developerId.description"></p>

        <div class="form-horizontal col-xs-offset-1 col-xs-9">
            <div class="form-group">
                <label for="inputAppId" class="control-label col-xs-3"
                       translate="basicSettings.weChat.developerId.appId"></label>

                <div class="col-xs-9">
                    <input id="inputAppId" type="text" class="form-control"
                           placeholder="{{'basicSettings.weChat.developerId.appId' | translate}}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAppSecret" class="control-label col-xs-3"
                       translate="basicSettings.weChat.developerId.appSecret"></label>

                <div class="col-xs-9">
                    <input id="inputAppSecret" type="text" class="form-control"
                           placeholder="{{'basicSettings.weChat.developerId.appSecret' | translate}}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-9 remark">
                    <small translate="basicSettings.weChat.developerId.remark"></small>
                </div>
                <div class="col-xs-3">
                    <a class="btn btn-block btn-lg btn-primary settingSubmitButton"
                       translate="basicSettings.weChat.developerId.submit"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <p><strong translate="basicSettings.weChat.server"></strong></p>

        <p translate="basicSettings.weChat.server.description"></p>

        <div class="form-horizontal col-xs-offset-1 col-xs-9">
            <div class="form-group">
                <label class="control-label col-xs-3"
                       translate="basicSettings.weChat.server.url"></label>

                <div class="col-xs-9">
                    <span class="fui-check-circle" style="color: #2ECC71"
                          ng-if="wechatServerStatus.connectionStatus"></span>
                    <span class="fui-cross-circle" style="color: #E74C3C"
                          ng-if="!wechatServerStatus.connectionStatus"></span>
                    <span class="settingInfo">{{weChatServerStatus.entryPoint}}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputAppSecret" class="control-label col-xs-3"
                       translate="basicSettings.weChat.server.token"></label>
                <label class="col-xs-7 settingInfo">{{weChatServerStatus.appToken}}</label>

                <div class="col-xs-2">
                    <a class="btn btn-block btn-lg btn-danger settingSubmitButton"
                       translate="basicSettings.weChat.server.changeToken"></a>
                </div>
            </div>
            <div class="form-group remark">
                <small translate="basicSettings.weChat.server.remark"></small>
            </div>
        </div>
    </div>
</div>
